.edu-au-vic-wa-nt-pre{
  font-family: "Edu AU VIC WA NT Pre", cursive;
}

body{
    background-color: tomato;
    color: aliceblue;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    margin: 30px;

}