.edu-au-vic-wa-nt-pre-<uniquifier> {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}

body{
    background-color: blueviolet;
    color: aliceblue;
    font-family: "Edu AU VIC WA NT Pre", cursive;
    margin: 30px;

}